<!DOCTYPE HTML>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>杨尚之家</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content=""
    />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet"  th:href="@{/css/style.css}" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link rel="stylesheet"  th:href="@{/css/fontawesome-all.css}">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- web-fonts -->
    <!--<link href="http://maxcdn.bootstrapcdn.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">-->
    <!--<link href="http://maxcdn.bootstrapcdn.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">-->
    <!-- //web-fonts -->
</head>

<body>
<!-- bg effect -->
<div id="bg">
    <canvas></canvas>
    <canvas></canvas>
    <canvas></canvas>
</div>
<!-- //bg effect -->
<!-- title -->
<h1 th:text="#{login.company}"></h1>
<!-- //title -->
<!-- content -->
<div class="sub-main-w3">
    <form action="/user/login" th:action="@{/login}" method="post">
        <p style="color: red" th:if="${not #strings.isEmpty(msg)}" th:text="${msg}" ></p>
        <div class="form-style-agile">
            <label>
                <i class="fas fa-user"></i>
                [[#{login.Username}]]
            </label>
            <input  th:placeholder="#{login.Username}" name="userName" type="text" required="">
        </div>
        <div class="form-style-agile">
            <label>
                <i class="fas fa-unlock-alt"></i>
                [[#{login.Password}]]
            </label>
            <input  th:placeholder="#{login.Password}" name="password" type="password" required="">
        </div>
        <!-- checkbox -->
        <div class="wthree-text">
            <ul>
                <li>
                    <label class="anim">
                        <input type="checkbox" class="checkbox" required="">
                        <span th:text="#{login.isOk}"></span>
                    </label>
                </li>
                <li>
                    <a href="#" th:text="#{login.forget}"></a>
                </li>
            </ul>
        </div>
        <!-- //checkbox -->
        <input type="submit"  th:value="#{login.log}">
    </form>
</div>
<!-- //content -->



<!-- Jquery -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<!-- //Jquery -->

<!-- effect js -->
<script th:src="@{/js/canva_moving_effect.js}"></script>
<!-- //effect js -->

</body>

</html>